html, body {
  height: 100%;
  width: 100%;
  background-color:blue;
}
.container {position:absolute;
  top:100px;z-index:0;
  background-color: brown;}

  div {position:relative;
    z-index: 3}

    a:hover{
 background-color:rgb(105, 213, 240)
    }
    
    