html, body {
  height: 100%;
  width: 100%;
  background-color:blue;
}
.container {background-color:red}
.col {background-color:green; color:yellow}
.navbar-nav {
bg
}
@media (max-width: 767px) {
    #pushContent {
      background-color:yellow;
    height: 222.5px;
    width:100%;
    display: none;
    }
}

@media (max-width: 480px) {
    #pushContent {
    height: 222.5px;
    width:100%;
    display: none;
    }
}
