@import "_variable_perso";
@import "../bootstrap-5.3.0-alpha1/scss/bootstrap.scss";

body {background-color: rgb(3, 125, 129);
  min-height: 100vh;
}
.scrd {position:absolute; top: 8%;}


@media screen and (max-width : 650px) {.rss {
  width: 30px;
  height: 30px;
};
}
.navbar {font-weight: bold;background-color: #e7f5f1;}
.nav-link{color:rgb(133, 99, 8)}
.navbar-brand{color:#dc3545}
.card-header{background-color: #e7f5f1;}
.card-footer{background-color: #e7f5f1;}
.actives{padding-left: 2rem;background-color: #5db199;color:white}






